<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hmily.rabbitmq.rabbitmqcommon.mapper.MessageFailedMapper" >
  <resultMap id="BaseResultMap" type="com.hmily.rabbitmq.rabbitmqcommon.entity.MessageFailed" >
    <constructor >
      <idArg column="fail_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="message_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="fail_title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fail_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    fail_id, message_id, fail_title, fail_desc, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_mq_message_failed
    where fail_id = #{failId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_mq_message_failed
    where fail_id = #{failId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hmily.rabbitmq.rabbitmqcommon.entity.MessageFailed" >
    insert into t_mq_message_failed (fail_id, message_id, fail_title, 
      fail_desc, create_time, update_time
      )
    values (#{failId,jdbcType=BIGINT}, #{messageId,jdbcType=BIGINT}, #{failTitle,jdbcType=VARCHAR}, 
      #{failDesc,jdbcType=VARCHAR}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hmily.rabbitmq.rabbitmqcommon.entity.MessageFailed" >
    insert into t_mq_message_failed
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="failId != null" >
        fail_id,
      </if>
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="failTitle != null" >
        fail_title,
      </if>
      <if test="failDesc != null" >
        fail_desc,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="failId != null" >
        #{failId,jdbcType=BIGINT},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=BIGINT},
      </if>
      <if test="failTitle != null" >
        #{failTitle,jdbcType=VARCHAR},
      </if>
      <if test="failDesc != null" >
        #{failDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hmily.rabbitmq.rabbitmqcommon.entity.MessageFailed" >
    update t_mq_message_failed 
    <set >
      <if test="messageId != null" >
        message_id = #{messageId,jdbcType=BIGINT},
      </if>
      <if test="failTitle != null" >
        fail_title = #{failTitle,jdbcType=VARCHAR},
      </if>
      <if test="failDesc != null" >
        fail_desc = #{failDesc,jdbcType=VARCHAR},
      </if>
      <!-- <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if> -->
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where fail_id = #{failId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hmily.rabbitmq.rabbitmqcommon.entity.MessageFailed" >
    update t_mq_message_failed
    set message_id = #{messageId,jdbcType=BIGINT},
      fail_title = #{failTitle,jdbcType=VARCHAR},
      fail_desc = #{failDesc,jdbcType=VARCHAR},
      update_time = now()
    where fail_id = #{failId,jdbcType=BIGINT}
  </update>
</mapper>